---
http_interactions:
- request:
    method: get
    uri: http://feeds.feedburner.com/newsyc100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=ISO-8859-1
      Etag:
      - 4ks/mbvWSnURdlI9OvLWwRvQMkI
      Last-Modified:
      - Tue, 29 Jul 2014 16:01:38 GMT
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\r\n<?xml-stylesheet
        type=\"text/xsl\" media=\"screen\" href=\"/~d/styles/rss2full.xsl\"?><?xml-stylesheet
        type=\"text/css\" media=\"screen\" href=\"http://feeds.feedburner.com/~d/styles/itemcontent.css\"?><rss
        xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\" version=\"2.0\"><channel><title>Hacker
        News 100</title><link>http://feeds.feedburner.com/newsyc100</link><description>Hacker
        News stories as soon as they reach 100 points</description><lastBuildDate>Tue,
        29 Jul 2014 08:59:02 GMT</lastBuildDate><generator>PyRSS2Gen-1.1.0</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><atom10:link
        xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"self\" type=\"application/rss+xml\"
        href=\"http://feeds.feedburner.com/newsyc100\" /><feedburner:info uri=\"newsyc100\"
        /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"hub\" href=\"http://pubsubhubbub.appspot.com/\"
        /><feedburner:browserFriendly></feedburner:browserFriendly><item><title>Dear
        Instagram (bolt.co)</title><link>https://blog.bolt.co/2014/07/28/dear-instagram</link><description>&lt;a
        href=\"http://news.ycombinator.com/item?id=8096936\"&gt;Comments&lt;/a&gt;</description><comments>http://news.ycombinator.com/item?id=8096936</comments><guid
        isPermaLink=\"true\">https://blog.bolt.co/2014/07/28/dear-instagram</guid><pubDate>Mon,
        28 Jul 2014 08:00:01 GMT</pubDate></item><item><title>Why cans of soup are
        shaped the way they are (datagenetics.com)</title><link>http://www.datagenetics.com/blog/august12014/index.html</link><description>&lt;a
        href=\"http://news.ycombinator.com/item?id=8097125\"&gt;Comments&lt;/a&gt;</description><comments>http://news.ycombinator.com/item?id=8097125</comments><guid
        isPermaLink=\"true\">http://www.datagenetics.com/blog/august12014/index.html</guid><pubDate>M[...]
