---
http_interactions:
- request:
    method: get
    uri: http://feeds.feedburner.com/newsyc100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 24 Jul 2014 16:06:07 GMT
      Etag:
      - pzDe+4eOsCh16vpqagSKsPZUBaE
      Content-Type:
      - text/xml; charset=ISO-8859-1
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\r\n<?xml-stylesheet
        type=\"text/xsl\" media=\"screen\" href=\"/~d/styles/rss2full.xsl\"?><?xml-stylesheet
        type=\"text/css\" media=\"screen\" href=\"http://feeds.feedburner.com/~d/styles/itemcontent.css\"?><rss
        xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\" version=\"2.0\"><channel><title>Hacker
        News 100</title><link>http://feeds.feedburner.com/newsyc100</link><description>Hacker
        News stories as soon as they reach 100 points</description><lastBuildDate>Thu,
        24 Jul 2014 09:03:01 GMT</lastBuildDate><generator>PyRSS2Gen-1.1.0</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><atom10:link
        xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"self\" type=\"application/rss+xml\"
        href=\"http://feeds.feedburner.com/newsyc100\" /><feedburner:info uri=\"newsyc100\"
        /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"hub\" href=\"http://pubsubhubbub.appspot.com/\"
        /><feedburner:browserFriendly></feedburner:browserFriendly><item><title>How
        recursion got into programming: a comedy of errors (wordpress.com)</title><link>http://vanemden.wordpress.com/2014/06/18/how-recursion-got-into-programming-a-comedy-of-errors-3/</link><description>&lt;a
        href=\"http://news.ycombinator.com/item?id=8073361\"&gt;Comments&lt;/a&gt;</description><comments>http://news.ycombinator.com/item?id=8073361</comments><guid
        isPermaLink=\"true\">http://vanemden.wordpress.com/2014/06/18/how-recursion-got-into-programming-a-comedy-of-errors-3/</guid><pubDate>Wed,
        23 Jul 2014 06:20:02 GMT</pubDate></item><item><title>Why I'm Productive in
        Clojure (yogthos.net)</title><link>http://yogthos.net/blog/49-Why+I%27m+Productive+in+Clojure</link><description>&lt;a
        href=\"http://news.ycombinator.com/item?id=8074186\"&gt;Comments&lt;/a&gt;</description><comments>http://news.ycombinator.com/item?id=8074186</comments><guid
        isPermaLink=\"true\">http://yogthos.net/blog/49-Why+I%27m+Productive+in+Clojure</guid><pubDate>Wed,
        23[...]
