<div id="articles" class="posts">
  <h1 class="content-subhead">Recent Posts</h1>

  <% articles.each do |article| %>
    <%= render partial: 'articles/article', locals: { article: article } %>
  <% end %>
</div>
