<div class="footer">
  <div class="pure-menu pure-menu-horizontal pure-menu-open">
    <ul>
      <li><a href="http://lucaguidi.com">About</a></li>
      <li><a href="https://twitter.com/jodosha">Twitter</a></li>
      <li><a href="https://github.com/jodosha/reeder">GitHub</a></li>
    </ul>
  </div>
</div>